#header {
    background: #062743;
    color: #c4ffdd;
}

h1 {
    color: #062743; 
}

#branding h1 {
    color: #c4ffdd;
}

.module h2, .module caption, .inline-group h2 {
    background: #062743;
}

a:link, a:visited {
    color: #113a5d;
    text-decoration: none;
}

a:focus, a:hover {
    color: #062743;
}

#user-tools a {
    border-bottom: 1px solid #fff;
}

#user-tools a:focus, #user-tools a:hover {
    border-bottom-color: #c4ffdd;
    color: #c4ffdd;
}

#content-related .module h2 {
    color: #062743; 
}

#content-related h3 {
    color: #062743; 
}

body {
    color: #062743; 
}